.shipping{
    background: url('../../images//bannerbackground-transparent.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
}
.form-container{
    width: 40%;
    margin: 5rem auto 1rem auto;
}